* {
    font-family: sans-serif;
}

.links {
    list-style: none;
    text-decoration: none;
    /* margin-top: 10px; */
    text-align: center;
}

.subject {
    text-align: center;
    color: #077988;
    background-color: #60e460;
    
}

.desc {
    border-bottom: solid 2px;
}

div p {
    color: red;
    font-weight: 700;
}

.ingredients {
    color: #ff00ff;
}

.steps-subject {
    text-align: center;
    margin-top: 48px;
}

.steps {
    font-style: italic;   
 
}

.steps li {
    text-align: center;
    list-style-position: inside;
}


.img-container img{
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}